<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.xef6.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_facebook_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/app_google_maps_key" />

        <activity android:name=".MainActivity">

            </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/create_event_activity_title" />
        <activity
            android:name="ca.xef6.widget.LocationPickerActivity"
            android:label="@string/msg_pick_location" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
                    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name=".db.ContentProvider"
            android:authorities="ca.xef6.app.db"
            android:exported="false" />
    </application>

</manifest>